/*	------------------------------------------------------- 
	BBCONNECT STYLES
	------------------------------------------------------- */
	
	/* rgba(153,172,192,0.2); */
	/* rgba(53,72,92,0.05); */

.float-right{float:right;}
.float-left{float:left;}


#wp-admin-bar-top-secondary::before {
    content: "";
    width: 100px;
    height: 2rem;
    display: inline-block;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.connexions_footer > a:hover {opacity:1;color:#fff;}
.connexions_footer > a {display: inline-block; padding: 0.3rem 0.6rem; background: #35485c; color: #fff; text-decoration: none;	z-index: 1; opacity:0.5;}
.connexions_footer {position: fixed; bottom: 0; display: inline-block; width: calc(100% - 2rem); height: 1.8rem; left: 2rem; background-color: #35485c; z-index: 1;}

.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 5px;
	height: auto;
	min-height: 18px;
	border: 1px solid #7e8993;
	border-radius: 3px;
	background-color: #fff;
	background: #fff;
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 1em;
}
.chosen-container.chosen-container-single {
	margin: 0 4px;
}
.chosen-container-multi .chosen-choices {border: 1px solid #7e8993; margin-right:2px; border-radius: 3px;}
.container.mini-container {
	width: 460px;
}
form#filter-form > div {
	display: inline-block;
}

#bbconnect form#report-data-form table.widefat {background: rgba(255,255,255,0);}
#bbconnect form#report-data-form .widefat tr th, #bbconnect form#report-data-form .widefat tr td {border-bottom: 1px solid rgba(53,72,92,0.05); white-space: nowrap; text-overflow: ellipsis; overflow: hidden !important; border-right: 1px solid rgba(53,72,92,0.025); max-width: 5rem; width: 5rem; background-color:#ffffff;}
#bbconnect form#report-data-form .widefat tr th {font-weight:bold; background-color:rgba(255,255,255,0.2);}
#bbconnect form#report-data-form .widefat tr th:first-of-type{background-color:rgba(53,72,92,0.05);}
#bbconnect form#report-data-form .widefat tr td:first-of-type{background-color:rgba(255,255,255,0.875);}
#bbconnect form#report-data-form .widefat tr:hover > * {background-color:rgba(53,72,92,0.025)!important;}

.wp-core-ui .button, .wp-core-ui .button-secondary {box-shadow: none;border: none;}
#report-navigation { background-color: rgba(153,172,192,0.2)!important; border: none!important; padding: 0.5rem 0;}

.bbconnect-reports-user-actions {opacity: 0.25;}
tr:hover .bbconnect-reports-user-actions {opacity: 1;}

.button.t-trigger:hover, 
.button.t-trigger.open {
	background: transparent !important;
	background-color: #DDE6EE !important;
}
.t-table {
	background-color: #DDE6EE;
}

span.example-text {
	color: #777777;
	font: 12px/16px Georgia, serif;
	font-style: italic;
	font-weight: 100;
}

#profile-page h3, #profile-page .add-new-h2 {
	display: none;
}

#bbconnect .off { display: inline; }

.action-select-inline { padding: 5px 15px; }
.p-edit, .username a.p-edit:hover { background-image: url('g/edit.png'); }

.username { padding: 3px 0; }
.username .p-edit { background-image: url('g/edit-50.png'); }
.username .c-email { background-image: url('g/email-50.png'); }

#branding {
	background: url('../g/brand.png') 0 0 no-repeat;
	height: 120px;
	width: 100%; 
}
.farmer {
	background: url('../g/farmer.png') 0 0 repeat;
	margin: 5px 0;
	padding: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCC;
}
.option-block {
	float: left;
	width: 100%;
	margin: 10px 0;
}
/*
#adminmenu .toplevel_page_bbconnect_options div.wp-menu-img {
	background-image: url('../g/favicon.png') !important;
	-webkit-background-size: 16px 48px;
	-moz-background-size: 16px 48px;
	background-size: 16px 48px;
}
*/

#bbconnect .errors {
	text-align: center;
	font: 18px/24px Georgia, serif;
	font-style: italic;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 0;
	background: #FBE3E4;
	color: #8a1f11;
	border: 2px solid #8a1f11;
	margin: 0 0 20px 0;
}
.halt {
	background: url('../g/halt-black.png') top left no-repeat;
	padding-top: 15px !important;
}
.halt-example {
	background: url('../g/halt-black.png') top left no-repeat;
	padding: 5px 15px;
}

/*	------------------------------------------------------- 
	GENERAL FORM ELEMENTS
	------------------------------------------------------- */

#bbconnect .tn-wrapper span.bbconnect-field input[type="text"], #bbconnect .tn-wrapper span.bbconnect-field textarea {
	width: 20em;
} 
#bbconnect p.t-trigger {
	font-size: 16px;
}

#bbconnect .required, #bbconnect .asterix-required {
	color: #990000 !important;
	font-weight: bold;
}
#bbconnect .asterix-required {
	font-size: 1.5em;
	line-height: 1em;
	padding: 0 2px;
}
#bbconnect .handle, 
.bbconnect .handle, 
.t-wrapper .handle { 
	cursor: move;
	background: url('../g/move.png') 0 4px no-repeat;
	padding: 10px 12px;	
}
#bbconnect #filter-list .handle {
	cursor: move;
	background: url('../g/move.png') 0 0 no-repeat;
	float: left;
	padding: 10px;
}

/*	------------------------------------------------------- 
	PRIMARY LIST
	------------------------------------------------------- */

.bbconnect-label.option-label {
	padding: 5px 10px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.bbconnect-label.option-label.bbconnect-section {
	background-image: url('g/registration.png');
}


/*	------------------------------------------------------- 
	OPTIONS LIST EXTENDS PRIMARY LIST
	------------------------------------------------------- */

.options-panel {
	width: 100%;
	float: left;
}
.options-label {
	width: 20%;
	float: left;
}
.options-field {
	width: 100%;
	float: left;
}
.options-selector {
}
.t-panel.main-panel {
	border: none;
}
.li-section .t-wrapper.section, 
.li-section .section-list {
	border-left: 1px dashed #999 !important;
	border-right: 1px dashed #999 !important;
	border-top: none !important;
	border-bottom: none !important;
	margin: 0;
}
.li-section .t-wrapper.section {
	border-top: 1px dashed #999 !important;
}
.li-section .section-list {
	border-bottom: 1px dashed #999 !important;
}
.li-section {
	padding: 10px 0;
}

.sub-tab-wrapper {
	border: none !important;
}
.sub-tab-wrapper a {
	text-decoration: none;
	font-weight: 200;
}
.sub-tab-wrapper a.sub-active {
	font-weight: 500;
	color: #CF5F13;
}

.t-wrapper.appear-disabled {
	background: url('../g/invisible-bg.png') top left repeat-x;
}
.t-wrapper.appear-disabled:hover {
	background: url('../g/invisible-bg.png') top left repeat-x;
}
.t-wrapper.newele {
	background-color: #B3C9F0;
}

#manage-fields h2 {
	border-bottom: 1px dotted #CCC;
}
.unused-drawer {
	background-color: #EEE;
	border: 1px dotted #CCC;
}

.field-header {
	font-weight: bold;
	text-transform: uppercase;
	padding: 7px 0;
	display: inline-block;
}
.field-section {
	background-color: #EEE;
	margin: 1px;
	padding: 2px;
}


/*	------------------------------------------------------- 
	EXPANDABLE PANELS
	------------------------------------------------------- */

.flip-input {
	display: none;
}
.flip-toggle {
	font-size: 11px;
	vertical-align: top;
	line-height: 200%;
}


/*	------------------------------------------------------- 
	TEXT MULTI
	------------------------------------------------------- */

.tm-wrapper {
	padding: 0;
	float: left;
}
.tm-wrapper ul {
	width: 37em;
	float: left;
	padding: 0;
}
#group-edit .tm-wrapper {
	margin-left: 190px;
	padding: 0;
	clear: both;
	float: none;
}
#group-edit .tm-wrapper ul {
	float: none;
}


/*	------------------------------------------------------- 
	REPORT & EDIT
	------------------------------------------------------- */

#report, 
#report-saver, 
#report-navigation {
	width: 100%;
	float: left;
	background-color: rgba(255,255,255,0.675);
	border: 1px solid #CCCCCC;
	margin: 10px 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#report-navigation {
	background-color: #DCDCDC;
}
#report-options {
	width: 100%;
	float: left;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px; 
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-radius-bottom-right: 3px;
	border-radius-bottom-left: 3px;
	background-color: rgba(255,255,255,0.675);
}
#report-nav a.nav-tab-active {
	background-color: rgba(255,255,255,0.675);
	border-color: #CCC #CCC rgba(255,255,255,0.675);
}
a.nav-tab-active {
	color: #CF5F13;
}
#report-navigation div, #report-navigation form {
	display: inline;
}
#report .nav {
}
#filter, #saved-queries {
	width: 100%;
	float: left;
}
#filter-profile {
	width: 100%;
	float: left;
}
#filter-actions {
	width: 100%;
	float: left;
}
.filter-tab {
	padding: 10px;
	margin: 3px 0 3px 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*#filter-refine {
	width: 30%;
	float: left;
}*/
#group-edit {
	width: 100%;
	float: left;
}
.inside {
	padding: 10px;
}
.inside.float-holder {
	overflow: auto;
}
.drawer {
	display: none;
}
.submit-button {
	width: 100%;
	float: left;
}
.click {
	padding: 3px 5px;
	border: none;
	background-color: #777777;
	color: #FFFFFF;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	background-attachmentborder-radius: 3px;
	cursor: pointer;
}
a.close {
	cursor: pointer;
}
#bbconnect #report .click.on {
	background-color: #333333;
	display: inline;
}
#master-gredit, #action-gredit {
	margin: 0;
}
.gredit-user, .gredit-action {
	display: none;
}

.action-holder {
	display: none;
}
.action-panel { 
	padding: 10px;
	background-color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#action-export { width: 100%; }
#bbconnect #client-export { width: 99%; height: 150px; margin-bottom: 20px; }
#bbconnect #mailchimp-body, #bbconnect #mailchimp-title  { width: 99%; }
#bbconnect #media-buttons { display: none; }
//#bbconnect #poststuff { margin-left: 200px; }

#bbconnect-user-actions input[type="text"] {
	width: auto;
}
#bbconnect-user-actions input[type="text"].input-short {
	width: 50px !important;
}
#bbconnect-user-actions input[type="text"].input-micro {
	padding: 2px;
	margin: 1px 0;
	border: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 42px !important;
	font: 14px/18px Helvetica, sans-serif;
	background-color: white;
	color: #555;
}
#bbconnect .widefat th, #bbconnect .widefat td {
	overflow: visible;
}
#bbconnect .data-table {
	margin: 20px 0;
	overflow: auto;
	min-height: 500px;
	width: 100%;
	border: none;
	float: left;
}

#bbconnect #progress,
#bbconnect .goodtoknow {
	padding: 20px;
	font-family: Georgia, Times New Roman, serif;
	font-size: 1.25em;
	line-height: 2.75em;
	font-weight: 200;
	font-style: italic;
	color: #777;
	text-align: center;
}
#bbconnect #progress #done {
	color: #555;
}
#bbconnect .nav-tab {
	cursor: pointer;
}

/*	------------------------------------------------------- 
	DIRECTORY
	------------------------------------------------------- */

#canvas {
	/*margin: 20px 0;
	padding: 10px;*/
	background-color: #EEEEEE;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
}
#canvas.whiteout {
	background-color: #FFFFFF;
	border: 1px dotted #EEEEEE;
	color: #FFFFFF;
}
#canvas .inside {
	padding: 10px;
}
.info_text {
	font: 12px/16px Georgia, serif;
	font-style: italic;
	padding: 0;
	margin: 0;
}
#dir-tab {
	text-align: right;
	padding: 0 10px 0 0;
}

#list .inside {
	background-color: #FFFFFF;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #EEEEEE;
	padding: 10px;
}
tr.odd td { background-color: #DDDDDD; }
tr.even td { background-color: #EEEEEE; }
.tab {
	background-color: rgba(255,255,255,0.675);
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px; 
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-radius-top-right: 3px;
	border-radius-top-left: 3px;
	margin: 0 0 -1px 0;
	padding: 3px 5px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	border-bottom: 1px solid #EEEEEE;
	color: #777777;
	font-weight: normal;
}
#dir-tab .tab.tabon {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	border-bottom: 1px solid #EEEEEE;
	color: #000000;
	font-weight: bold;
}
.tab.tabbed, .browse {
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px; 
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-radius-top-right: 3px;
	border-radius-top-left: 3px;
}

#bbconnect .highlight {
	background-color: #FFDA7E;
	padding: 2px;
	margin: 0 !important;
}

#menu-users li.wp-first-item {
	display: none;
}

.q-col {
	width: 10%;
	float: left;
}
.muted {
	color: #999999;
}
.input-short {
	width: 3em;
}

#nebula {
	/*
	position: fixed;
	top: 300px;
	right: 0;
	width: 100px;
	height: 100px;
	*/
	font-size: 1em;
}

/*	------------------------------------------------------- 
	TABULAR STYLES
	------------------------------------------------------- */
.rule-table thead th, .rule-table tbody th, .rule-table tbody td {
	text-align: left;
}
.rule-table tfoot th {
	text-align: right;
}
.rule-table tbody input[type="checkbox"] {
	margin: 0 0 0 8px;
}

/*	------------------------------------------------------- 
	SEARCH
	------------------------------------------------------- */

#bbconnect li .chzn-choices li, ul.bbconnect li .chzn-choices li {
	display: inline;
	clear: none;
	float: left;
	width: auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#bbconnect li .chzn-choices, 
ul.bbconnect li .chzn-choices {
	height: 23px;
	line-height: 24px;
	display: inline;
	clear: none;
	float: left;
	width: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#bbconnect .chzn-choices input[type="text"], 
#filter-profile input[type="text"] {
	/*font: 1em/1em Helvetica, Arial, sans-serif;*/
	line-height: 1em;
	padding: 3px;
	width: auto;
	max-width: 100%;
	margin: 0;
}
#filter-profile input[type="text"] {
	padding: 5px;
}
#bbconnect .multi-op .chzn-choices input[type="text"] {
	width: 94px !important;
}
.query-block {
	position: relative;
	width: 100% !important;
	cursor: default !important;
}
.query-parent-holder, .query-child-holder {
	float: left;
}
.query-parent {
	width: 200px;
}
.query-selections {
	/*width: 95%;*/
	float: left;
}
.query-buttons {
	/*width: 4%;
	float: left;*/
	position: absolute;
	right: 5px;
	top: 15px;
}
.query-block .bbconnect-label {
	/*width: auto;*/
	display: inline;
}
.query-block .bbconnect-field {
	display: inline;
	/*width: 80%;*/
}
#bbconnect .panel, 
#bbconnect .multi-panel, 
#bbconnect .mini-multi-panel, 
#bbconnect .half-panel, 
#bbconnect .sub-panel {
	/*height: 150px;*/
	float: left;
	display: inline-table;
}
#bbconnect .sub-panel {
	clear: both;
}
.op {
	float: left;
	/*width: 10%;*/
}
.panel {
	/*width: 90%;
	height: auto;*/
}
.half-panel {
	/*width: 45%;
	height: auto;*/
}
.multi-op {
	float: left;
	/*width: 20%;*/
}
.mini-multi-panel {
	/*width: 100px;
	overflow: hidden;*/
}
.multi-panel {
	/*width: 80%;*/
}
.date_field, .s_date_field {
	display: none;
}
.bbconnect-refresh {
	text-decoration: none;
	color: #000000;
}

#bbconnect-overlay {
	background-color: #000000; 
	height: 100%; 
	-moz-opacity: 0.7; 
	opacity:.70; 
	filter: alpha(opacity=70); 
	left: 0%; 
	position: fixed; 
	top: 0%; 
	width: 100%; 
	z-index:101;
}
#bbconnect-modal {
	background-color: transparent; 
	color: #FFF; 
	position: relative; 
	top: 40%; 
	left: 0; 
	width: auto; 
	height: 50px; 
	text-align: center; 
	font-size: 42px; 
	font-family: Georgia, serif; 
	font-style: italic; 
	z-index: 1001;
}
.report-stats {
	font-size: 28px; 
	padding: 10px 0 10px 37px; 
	float: left;
}

.code-help {
}
.action-hide {
	display: none;
}
#bbconnect .profile-block {
	border: 1px solid #999;
	padding: 10px;
	background-color: #EEE;
}


.content-display {
	width: 300px;
	clear: both;
	overflow-x: scroll;
	overflow-y: hidden;
}
#report-options .query-buttons {
	position: relative;
	width: 100%;
}
#report-options .handle {
	width:  100%;
}

.nav-tab-wrapper.non-responsive { display: none; }
.nav-tab-wrapper.responsive { display: block; background-color: rgba(255,255,255,0.675); padding: 10px; }

/* Quicklinks */

#report-options .query-buttons {top: 25%; opacity:0.25;}
#report-options .query-buttons:hover {opacity:1;}

#bbconnect #quicklinks-wrapper {background-color:rgba(0,0,0,0); border: none; display: block; margin-bottom: 0.5rem; min-height: 1.5rem; min-width: 100px; padding: 0.375rem 0rem; position: relative; right: 0; top: 0.5rem; width: 98%;}
#bbconnect #quicklinks-wrapper > strong {box-sizing: border-box; float: left; font-size: 8px; left: 0; padding-left: 5px; position: absolute; width: 100%; opacity: 0.25; top: -1.1rem; width: calc(100% - 0.5rem); border-bottom: 1px solid #bbb;}
#bbconnect #quicklinks-wrapper ul {white-space: nowrap;}
#bbconnect #quicklinks-wrapper li a {background: #d4dbe4; font-size: 0.675rem !important; font-weight: bold; margin: 0.25rem 0; padding: 0.25rem 0.5rem; text-decoration: none; width: auto; border-radius: 3px; border: none; color: #555; line-height: 1rem; height: auto; text-shadow: 1px 1px 1px #fff;}
#bbconnect #quicklinks-wrapper li { display: inline; float: none;}
#bbconnect #quicklinks-wrapper li a.s-quicklinks:hover { background: #ccc none repeat scroll 0 0;}

#TB_ajaxContent .bbconnect-form-tiles a {display: block; padding: 1%; margin: 0 0 1% 0; text-decoration: none; background-color: rgba(37, 170, 225, 0.1);}
#TB_ajaxContent .bbconnect-form-tiles a:hover {background-color: rgba(37, 170, 225, 0.3);}
#TB_ajaxContent .bbconnect-form-tiles a > span {float: left; padding: 4px;}
#TB_ajaxContent .bbconnect-form-tiles a > p {float: left; margin-left: 0.5rem!important; max-width: 90%; padding: 0;}
#TB_ajaxContent .bbconnect-form-tiles a p {color: black; margin: 0;}
#TB_ajaxContent .bbconnect-form-tiles a:after {display: block; content: ' '; clear: both;}
#TB_ajaxContent h2 {margin-bottom: 0;margin-top: 0.5rem;}
#TB_ajaxContent > div > p {margin: 0;opacity: 0.5;}


.bbconnect-label {width: 30%; max-width: 80px; font-size: 0.7rem; opacity: 0.7;}

/*  ------------------------------------------------------- 
    ACTIVITY LOG
    ------------------------------------------------------- */

#bbconnect ul.activity-log-filters li {display: inline-block; float: left; width: auto; clear: none; margin: 0 0.25rem 0.25rem 0;}
#bbconnect table.activity-log {box-shadow:none;border:none;}
#bbconnect table.activity-log th {background-color: #7bb5d1;border-bottom: 1px solid #ddd;}
#bbconnect table.activity-log th h2 {color: #fff;font-size: 0.8rem;margin: 0;padding: 0;text-transform: uppercase;}
#bbconnect table.activity-log td {padding-top: 0.75rem;}
#bbconnect table.activity-log td h2, #bbconnect table.activity-log td h3 {margin-top: 0; padding-top: 0; border-bottom: none;}
#bbconnect table.activity-log .center > p > img {max-width: 2rem;}
#bbconnect table.activity-log p {padding: 0;margin:0;}
#bbconnect table.activity-log td h3 {font-size:14px;color:#555;margin:0;padding:0;}
#bbconnect table.activity-log td > a, #bbconnect table.activity-log td > p > a, #bbconnect table.activity-log span.secondary {font-size:0.8rem;color:#aaa;font-weight:300;}
#bbconnect table.activity-log td:last-child > p {color: #aaa;font-size: 0.7rem;font-weight: 300;padding-right: 1rem; white-space: nowrap;}
#bbconnect table.activity-log tfoot#bbconnect_activity_loadmore_wrapper {background-color: #f1f1f1;}
#bbconnect table.activity-log tfoot#bbconnect_activity_loadmore_wrapper a.button {color: #555;}

.dashicons.bbspin {animation: dashicons-spin 1s infinite; animation-timing-function: linear;}
@keyframes dashicons-spin {
   0% {
      transform: rotate( 0deg );
   }
   100% {
      transform: rotate( 360deg );
   }
}

@media screen and (min-width: 600px) {

	.content-display {
		width: 100%;
		clear: both;
		overflow-x: none;
		overflow-y: none;
	}
	#report-options .query-buttons {
		position: absolute;
		width: auto;
	}
	#report-options .handle {
		width:  auto;
	}
	
	.nav-tab-wrapper.non-responsive { display: block; }
	.nav-tab-wrapper.responsive { display: none; }

}
