*, 
body {
	font: 11px/12px Arial, sans-serif !important;
}

#report-navigation, 
#report-nav, 
#report-options {
	display: none;
}

.envoyconnect-reports-user-actions {
	display: none;
}

#screen-meta, 
#screen-meta-links, 
.update-nag, 
#icon-users, 
#adminmenuback, 
#adminmenuwrap, 
#wpfooter {
	display: none;
}

#wpcontent {
	margin: 0;
}