/*	------------------------------------------------------- 
	ACTION STYLES
	------------------------------------------------------- */
	
.a-button {
	display: none;
}


/*	------------------------------------------------------- 
	GENERAL FORM ELEMENTS
	------------------------------------------------------- */
	
#envoyconnect input[type="text"], 
#envoyconnect textarea, 
#envoyconnect .regular-text.ui-autocomplete-input, 
#envoyconnect .regular-text, 
#envoyconnect .envoyconnect-input, 
#envoyconnect input[type="password"], 
#envoyconnect select.regular-text, 
textarea {
	width: 90%;
	padding: .3em;
	margin: .2em 0;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 1em Helvetica, sans-serif;
	background-color: #FFFFFF;
	color: #444;
	height: auto;
}
#envoyconnect .regular-text.regular-multi, 
.envoyconnect .regular-text.regular-multi, 
#envoyconnect input[type="password"].regular-text, 
.envoyconnect input[type="password"].regular-text, 
.regular-multi {
	width: 36%;
}
.regular-multi li {
	width: auto !important;
}
#envoyconnect select.regular-text {
	width: auto;
	max-width: 95%;
}
#envoyconnect input[type="text"].input-short {
	width: 3em;
}
#envoyconnect span.envoyconnect-label input[type="text"] {
	width: 90%;
}
#envoyconnect .required, 
#envoyconnect .asterix-required, 
.envoyconnect .required, 
.envoyconnect .asterix-required {
	color: #990000;
}
#envoyconnect .asterix-required, 
.envoyconnect .asterix-required {
	font-size: 1.5em;
	line-height: 1em;
	padding: 0 2px;
	font-weight: bold;
}
.envoyconnect-label.required.halt {
	font-weight: bolder;
}
#envoyconnect .sortable li {
	cursor: move;
}
.error-wash {
	background-color:#FBE3E4!important;
}
.envoyconnect_error, 
.envoyconnect_notice, 
.envoyconnect_success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.envoyconnect_error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.envoyconnect_notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.envoyconnect_success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.envoyconnect_error a {color:#8a1f11;}
.envoyconnect_notice a {color:#514721;}
.envoyconnect_success a {color:#264409;}
.header-msg {
	font: 11px/12px Helvetica, Arial, sans-serif;
	margin: 0 0 5px 10px;
	position: absolute;
	float: left;
}
#envoyconnect ul.item, #envoyconnect ul.item:hover {
	border: none;
	background-color: transparent;
	overflow: hidden;
}

/*	------------------------------------------------------- 
	EXPANDABLE PANELS
	------------------------------------------------------- */

/*	WRAPPERS ---------------------------------------------- */
.t-wrapper, .tn-wrapper, .action-count {
	background-color: #DDDDDD;
	color: #000000;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	margin: 2px;
}
.t-wrapper:hover, .tn-wrapper:hover {
	background-color: #CCCCCC;
	/* color: #CCCCCC; */
}
.t-wrapper:hover h2, .tn-wrapper:hover h2 {
	background-color: #555555;
	color: #CCCCCC;
	text-shadow: #555555 1px 0 0
}
.t-wrapper:hover a:hover, .tn-wrapper:hover a, .tn-wrapper:hover a:hover {
	/* color: #FFFFFF; */
}
.t-wrapper:hover .t-panel a:hover, .tn-wrapper:hover .t-panel a:hover {
	color: #21759B;
}
.t-wrapper p, .tn-wrapper p { margin: 0; }
.t-wrapper.group {
	width: 95%;
}
#envoyconnect ul.group-panel {
	padding: 1%;
}
.t-wrapper.section {
	background-color: transparent;
	border-bottom: 2px dashed #CCC;
}
.t-wrapper.deleted {
	background-color: transparent;
	background-image: none;
	border: 2px dashed #333333;
	color: transparent;
}


/*	TRIGGERS ---------------------------------------------- */

.t-trigger { 
	padding: 10px; 
	line-height: 100%;
}
.t-trigger-wrapper { 
	padding: 10px 0; 
	line-height: 100%;
	overflow: auto;
	width: 100%;
}
.t-trigger-faux { padding: 5px 10px; }
span.t-trigger, 
p.t-trigger, 
div.t-trigger { 
	background-image: url('../g/aclose.png');
	padding: 10px 25px;
	background-position: 0 5px;
	background-repeat: no-repeat;
	margin: 0;
	cursor: pointer;
	line-height: 100%;
	font-weight: 300;
	overflow: auto;
}
h2 .t-trigger {
	background-position: 0 10px;
	font-size: 23px;
	padding: 10px 5px 10px 25px;
}
span.t-trigger.open, p.t-trigger.open, div.t-trigger.open {
	background-image: url('../g/aopen.png');
}
.left {
	float: left;
	text-align: left;
}
.right {
	float: right;
	text-align: right;
}
.tleft {
	text-align: left;
}
.tright {
	text-align: right;
	float: left;
	width: 100%;
	padding: 5px 0;
}
.end-of-float {
	clear: both;
	padding: 5px 0;
	border-top: 1px dashed #CCCCCC;
}
#envoyconnect .delete, 
.envoyconnect .delete, 
#envoyconnect .delete_trigger, 
.envoyconnect .delete_trigger, 
#envoyconnect .undo, 
.envoyconnect .undo, 
.visibility, 
.invisibility, 
.info, 
#envoyconnect .visibility, 
.envoyconnect .visibility, 
#envoyconnect .invisibility, 
.envoyconnect .invisibility, 
#envoyconnect .act-sprite, 
.envoyconnect .act-sprite, 
#envoyconnect .icon-public, 
.envoyconnect .icon-public,
#manage-fields .icon-admin, 
.envoyconnect .icon-admin,
#manage-fields .icon-signup, 
.envoyconnect .icon-signup {
	padding: 10px;
	background-position: 0 3px;
	background-repeat: no-repeat;
	cursor: pointer;
}
#envoyconnect .delete, 
.envoyconnect .delete, 
#envoyconnect .delete_trigger, 
.envoyconnect .delete_trigger { background-image: url('../g/cirx-black.png'); }
.undo { background-image: url('../g/refresh.png'); display: none; }
#manage-fields .icon-admin { background: url('../g/admin.png') 0 0 no-repeat; }
#envoyconnect .icon-signup, 
.envoyconnect .icon-signup { background: url('../g/signup.png') 0 4px no-repeat; }
.icon-public { background-image: url('../g/public-black.png'); }
.visibility { background-image: url('../g/public-black.png'); margin-right: 20px; }
.invisibility { background-image: url('../g/private-black.png'); margin-right: 20px; }
.t-wrapper.deleted .t-trigger { background-image: none; }

.trigger-action {
	padding: 10px;
	background-color: #efefef;
	margin: 5px 0;
	float: left;
	width: 100%;
}
.trigger-action ul, 
.trigger-action li {
	margin-left: 20px;
}


/*	PANELS ------------------------------------------------ */

.t-panel {
	display: none;
	margin: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: auto;
	clear: both;
}

.action-count {
	background-color: #000000; 
	color: #FFFFFF;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 7px;
}

.actions div.t-panel, .taxonomies div.t-panel, .t-panel {
	padding: 0;
	margin: 7px 0 0 0;
	background-color: #FFFFFF;
	/* border: 1px dotted #777777; */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #000000;
}
.t-panel:hover, .action-panel:hover {
	color: #000000;
}
.action-detail {
	padding: 5px 28px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.action-detail h3 {
	padding: 0;
	margin: 0;
}
.t-panel li, .action-select, .action-select-inline {
	background-position: 0 0;
	background-repeat: no-repeat;
}
#envoyconnect .sortable .t-wrapper {
	cursor: move;
}
.t-panel li { padding: 6px; }
.t-panel li.action-select { padding: 5px 30px; }

.help, 
.help-text {
	font-size: 12px;
	font-style: italic;
	font-family: Georgia, serif;
}

/*	------------------------------------------------------- 
	SEARCH
	------------------------------------------------------- */


/*	------------------------------------------------------- 
	SECTIONS
	------------------------------------------------------- */

#envoyconnect h3, 
.envoyconnect h3 {
	padding: 20px 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dashed #999999;
	background-color: transparent;
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	text-shadow: none;
}


/*	------------------------------------------------------- 
	PRIMARY LIST
	------------------------------------------------------- */

#envoyconnect ul,
ul.envoyconnect, 
ul.envoyconnect-list {
	list-style-type: none;
	margin: 0 !important;
	padding: 0 !important;
	float: left;
	width: 98%;
}
#envoyconnect ul.column {
	min-height: 20px;
}
#envoyconnect li, 
ul.envoyconnect li, 
ul.envoyconnect-list li {
	display: block;
	clear: both;
	overflow: visible;
	float: left;
	width: 98%;
}
#envoyconnect .chosen-container li, 
ul.envoyconnect .chosen-container li, 
ul.envoyconnect-list .chosen-container li,  
ul.envoyconnect-list .chzn-container li {
	width: auto;
}
#envoyconnect #manage-fields ul li {
	float: none !important;
}
#envoyconnect #manage-fields ul {
	display: block;
	min-height: 2em;
}
.pp-ui-highlight {
	border: 2px dashed #333333;
	background-color: #FFF;
	height: 1.5em; 
	line-height: 1.2em;
	padding: 0;
	margin: 0;
}
.options-panel .t-panel li {
/*
	background: none !important;
	border: none !important;
*/
}

#envoyconnect ul.no-float li {
	display: block;
	clear: both;
	overflow: visible;
}
/* .SEARCH-LABLE IS DEPRECATED */
.search-label, .envoyconnect-label { 
	width: 100%;
	float: left;
	padding: 1px 0;
}
.envoyconnect-field {
	float: left;
	width: 100%;
	padding: 1px 0;
}

#column_1_holder, 
#column_2_holder, 
.column_holder, 
.column-holder {
	/*width: 48%; */
	float: left; 
	display: block; 
	padding: 5px; 
	margin: 3px;
}
.column-holder { margin: 0; }
.options-panel #column_1_holder, .options-panel #column_2_holder {
	border: 2px dashed #CCCCCC; 
	min-height: 50px;
}
li.meta-item {
	padding: 0 0 5px 0;
	text-align: left;
	/* border-bottom: 1px dotted #CCCCCC; */
}


/*	------------------------------------------------------- 
	PROFILE
	------------------------------------------------------- */

#envoyconnect #user-avatar-display {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	padding: 10px;
	width: 170px;
	background: #EEE;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	overflow: none;
}
#envoyconnect #user-avatar-display h3 {
	display: none;
}
.user-avatar-wrap {
	text-align: center;
}
#user-avatar-display-image {
	margin: 0 auto;
}
#envoyconnect #avatar_profile_box {
	position: relative !important;
	top: 0 !important;
}

.column_holder.actions-history-holder ul { padding: 10px; }
.column_holder.actions-editor ul { padding: 10px 0; }
.column_holder.actions-history-holder ul.actions-history-list {
	max-height: 400px;
	overflow: auto;
}
#envoyconnect .column_holder ul.actions-history-list li, 
.envoyconnect .column_holder ul.actions-history-list li {
	width: 90%;
}


/*	------------------------------------------------------- 
	OPTIONS LIST EXTENDS PRIMARY LIST
	------------------------------------------------------- */

#envoyconnect ul.group, #envoyconnect ul.taxonomy {
	padding: 5px;
	background-color: #EEEEEE;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


/*	------------------------------------------------------- 
	CHECKBOX UI
	------------------------------------------------------- */

#envoyconnect a.umt, 
#envoyconnect a.umtf, 
#envoyconnect a.upt, 
#envoyconnect a.uwpt, 
#envoyconnect a.rui, 
#envoyconnect a.pmt, 
#envoyconnect a.help,
#envoyconnect a.add, 
#envoyconnect a.query-add, 
#envoyconnect a.sub, 
#envoyconnect a.query-sub, 
#envoyconnect a.icon-admin, 
a.umt, 
a.umtf, 
a.upt, 
a.uwpt, 
a.rui, 
a.pmt, 
a.help, 
a.add, 
a.query-add, 
a.sub, 
a.query-sub,
.loader, 
.query-loader,
a.icon-admin,  
a.envoyconnect-icon, 
.envoyconnect-icon { 
	margin: 0;
	padding: 3px 0 4px 25px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: transparent;
	background-position: 0 -3px;
	background-repeat: no-repeat;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
	display: inline;
	float: left;
	line-height: normal;
	border: none;
	height: auto;
}
#envoyconnect a.query-add, 
#envoyconnect a.query-sub {
	margin: 0;
	padding: 3px 0 4px 25px;
}  
#envoyconnect a.pmt, a.pmt {
	padding: 3px 10px 4px 7px;
	background-image: url('../g/private-black.png');
}
#envoyconnect a.help, a.help {
	padding: 3px 10px 4px 7px;
	background-image: url('../g/help.png');
}
#envoyconnect a.query-add, 
#envoyconnect a.query-sub, 
#envoyconnect a.query-loader {
	margin: 0;
	padding: 3px 0 4px 25px;
}  
#envoyconnect a.query-loader {
	background: transparent url('../g/inline-loader.gif') 0 1px no-repeat;
	float: none;
	display: none;
}
#envoyconnect a.add, a.add, #envoyconnect a.query-add, a.query-add {
	background-image: url('../g/add-black.png');
	float: none;
}
#envoyconnect a.sub, a.sub, #envoyconnect a.query-sub, a.query-sub {
	background-image: url('../g/sub-black.png');
	float: none;
}

#envoyconnect a.pmt, a.pmt {
	padding: 3px 10px 4px 7px;
	background-image: url('../g/private-black.png');
}

#envoyconnect a.icon-admin, a.icon-admin {
	padding: 3px 10px 4px 7px;
	background-image: url('../g/admin.png');
}
#envoyconnect a.umt:hover, #envoyconnect a.upt:hover, #envoyconnect a.uwpt:hover, #envoyconnect a.rui:hover, #envoyconnect a.pmt:hover { 
	/*-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #CCCCCC;*/
	opacity: 100;
}

.envoyconnect-icon.post { background-image: url('../g/post.png'); }
.envoyconnect-icon.page { background-image: url('../g/page.png'); }
.envoyconnect-icon.pp_event { background-image: url('../g/event.png'); }
.envoyconnect-icon.pp_support { background-image: url('../g/support.png'); }
.envoyconnect-icon.pp_product { background-image: url('../g/store.png'); }


#envoyconnect a.umt, 
#envoyconnect a.umtf, 
#envoyconnect a.upt, 
#envoyconnect a.uwpt, 
#envoyconnect a.rui,
#envoyconnect a.display, 
a.umt, 
a.umtf, 
a.upt, 
a.uwpt, 
a.rui { 
	background-image: url('../g/no.png');
	/*display: inline;*/
}

#envoyconnect a.umt.on, 
#envoyconnect a.umtf.on, 
#envoyconnect a.upt.on, 
#envoyconnect a.uwpt.on, 
#envoyconnect a.rui.on,
#envoyconnect a.display.on, 
a.umt.on, 
a.umtf.on, 
a.upt.on, 
a.uwpt.on, 
a.rui.on { 
	background-image: url('../g/ok.png');
	/*display: inline;*/
}
#envoyconnect a.pmt.on, a.pmt.on {
	background-image: url('../g/public-black.png');
}
#envoyconnect a.umtf.on, 
a.umtf.on, 
#envoyconnect a.umtf.off, 
a.umtf.off {
	opacity: .25;
}

.umd  { background-image: url('../g/off-grey.png'); }

.envoyconnect-icon.pp_log { background-image: url('../g/registration.png'); }
.envoyconnect-icon.pp_interaction { background-image: url('../g/in-person.png'); }
.pp_phone { background-image: url('../g/phone.png'); }
.pp_email, .username a.c-email:hover { background-image: url('../g/email.png'); }
.pp_tweet { background-image: url('../g/tweet.png'); }
.pp_facebook { background-image: url('../g/facebook.png'); }
.pp_d_ca { background-image: url('../g/donation_cash.png'); }
.pp_d_ck { background-image: url('../g/donation_check.png'); }
.pp_d_cd { background-image: url('../g/donation_card.png'); }
.pp_p_ca { background-image: url('../g/purchase_cash.png'); }
.pp_p_ck { background-image: url('../g/purchase_check.png'); }
.pp_p_cd { background-image: url('../g/purchase_card.png'); }
.pp_import { background-image: url('../g/upload.png'); }
.pp_enews { background-image: url('../g/newsletters.png'); }
.c-billing { background-image: url('../g/purchase.png'); }
.c-shipping { background-image: url('../g/in-person.png'); }

#report-nav {
	line-height: 16px !important;
}

.envoyconnect-icon-text, 
.envoyconnect-icon-ghost {
	padding: 0;
	margin: 0;
}
.nav-tab-wrapper .envoyconnect-icon { padding: 0 0 0 20px; background-position: 0 -1px; }
.nav-tab-wrapper .envoyconnect-icon-text { display: none; }
.nav-tab-wrapper .envoyconnect-icon-ghost { display: inline-block; }
.nav-tab-wrapper .envoyconnect-icon.query { background-image: url('../g/search-glass.png'); }
.nav-tab-wrapper .envoyconnect-icon.action { background-image: url('../g/action.png'); }
.nav-tab-wrapper .envoyconnect-icon.edit { background-image: url('../g/edit.png'); }
.nav-tab-wrapper .envoyconnect-icon.bookmark { background-image: url('../g/bookmark.png'); }

.envoyconnect-icon.list { background-image: url('../g/view_list.png'); }
.envoyconnect-icon.grid { background-image: url('../g/view_grid.png'); }
.envoyconnect-icon.calendar { background-image: url('../g/event.png'); }
.envoyconnect-icon.map { background-image: url('../g/view_map.png'); }
.envoyconnect-icon.search { background-image: url('../g/search.png'); }
.envoyconnect-icon.upcoming { background-image: url('../g/upcoming.png'); }

.envoyconnect-icon.jpg, 
.envoyconnect-icon.png, 
.envoyconnect-icon.gif { background-image: url('../g/img.png'); }
.envoyconnect-icon.pdf { background-image: url('../g/pdf.png'); }
.envoyconnect-icon.download.xls, 
.envoyconnect-icon.csv { background-image: url('../g/xls.png'); }
.envoyconnect-icon.doc { background-image: url('../g/doc.png'); }
.envoyconnect-icon.ppt { background-image: url('../g/ppt.png'); }
.envoyconnect-icon.exe, 
.envoyconnect-icon.dmg { background-image: url('../g/code.png'); }
.envoyconnect-icon.zip { background-image: url('../g/zip.png'); }
.envoyconnect-icon.txt, 
.envoyconnect-icon.rtf { background-image: url('../g/txt.png'); }

.envoyconnect-icon.pp_log.download.jpg, 
.envoyconnect-icon.pp_log.download.png, 
.envoyconnect-icon.pp_log.download.gif { background-image: url('../g/down-img.png'); }
.envoyconnect-icon.pp_log.download.pdf { background-image: url('../g/down-pdf.png'); }
.envoyconnect-icon.pp_log.download.xls, 
.envoyconnect-icon.pp_log.download.csv { background-image: url('../g/down-xls.png'); }
.envoyconnect-icon.pp_log.download.doc { background-image: url('../g/down-doc.png'); }
.envoyconnect-icon.pp_log.download.ppt { background-image: url('../g/down-ppt.png'); }
.envoyconnect-icon.pp_log.download.exe, 
.envoyconnect-icon.pp_log.download.dmg { background-image: url('../g/down-code.png'); }
.envoyconnect-icon.pp_log.download.zip { background-image: url('../g/down-zip.png'); }
.envoyconnect-icon.pp_log.download.txt, 
.envoyconnect-icon.pp_log.download.rtf { background-image: url('../g/down-txt.png'); }

/* DONATIONS */
#envoyconnect .envoyconnect-icon.donation.pending, 
#envoyconnect .envoyconnect-icon.variable_donation.pending { background-image: url('../g/donation-pending.png'); }
#envoyconnect .envoyconnect-icon.donation.hold, 
#envoyconnect .envoyconnect-icon.variable_donation.hold { background-image: url('../g/donation-error.png'); }
#envoyconnect .envoyconnect-icon.donation.refunded, 
#envoyconnect .envoyconnect-icon.variable_donation.refunded { background-image: url('../g/donation-refunded.png'); }
#envoyconnect .envoyconnect-icon.donation.completed, 
#envoyconnect .envoyconnect-icon.variable_donation.completed { background-image: url('../g/donation.png'); }
#envoyconnect .envoyconnect-icon.recurring_donation.completed, 
#envoyconnect .envoyconnect-icon.recurring_variable_donation.completed { background-image: url('../g/recurring-donation-active.png'); }

/* CREDIT DONATIONS */
#envoyconnect .envoyconnect-icon.recurring_donation.canceled, 
#envoyconnect .envoyconnect-icon.recurring_variable_donation.canceled { background-image: url('../g/recurring-donation-canceled.png'); }

/* NON-SHIPPABLE PURCHASES */
#envoyconnect .envoyconnect-icon.purchase.pending, 
#envoyconnect .envoyconnect-icon.variable_purchase.pending { background-image: url('../g/purchase-pending.png'); }
#envoyconnect .envoyconnect-icon.purchase.failed, 
#envoyconnect .envoyconnect-icon.variable_purchase.failed { background-image: url('../g/purchase-error.png'); }
#envoyconnect .envoyconnect-icon.purchase.refunded, 
#envoyconnect .envoyconnect-icon.variable_purchase.refunded { background-image: url('../g/purchase-refunded.png'); }
#envoyconnect .envoyconnect-icon.purchase.credited, 
#envoyconnect .envoyconnect-icon.variable_purchase.credited { background-image: url('../g/credited.png'); }
#envoyconnect .envoyconnect-icon.purchase.completed, 
#envoyconnect .envoyconnect-icon.variable_purchase.completed { background-image: url('../g/purchase.png'); }
#envoyconnect .envoyconnect-icon.recurring_purchase.completed, 
#envoyconnect .envoyconnect-icon.recurring_variable_purchase.completed, 
#envoyconnect .envoyconnect-icon.recurring_purchase.active, 
#envoyconnect .envoyconnect-icon.recurring_variable_purchase.active { background-image: url('../g/recurring-purchase-active.png'); }

/* CREDIT PURCHASES */
#envoyconnect .envoyconnect-icon.credit.pending { background-image: url('../g/credit-pending.png'); }
#envoyconnect .envoyconnect-icon.credit.failed { background-image: url('../g/credit-error.png'); }
#envoyconnect .envoyconnect-icon.credit.refunded { background-image: url('../g/credited.png'); }
#envoyconnect .envoyconnect-icon.credit.completed { background-image: url('../g/credit.png'); }
#envoyconnect .envoyconnect-icon.recurring_purchase.canceled, 
#envoyconnect .envoyconnect-icon.recurring_variable_purchase.canceled { background-image: url('../g/recurring-purchase-canceled.png'); }

/* SHIPPABLE PURCHASES */
#envoyconnect .envoyconnect-icon.purchase.pending.ship, 
#envoyconnect .envoyconnect-icon.variable_purchase.pending.ship { background-image: url('../g/shipping-pending.png'); }
#envoyconnect .envoyconnect-icon.purchase.hold, 
#envoyconnect .envoyconnect-icon.variable_purchase.hold { background-image: url('../g/shipping-error.png'); }
#envoyconnect .envoyconnect-icon.purchase.returned, 
#envoyconnect .envoyconnect-icon.variable_purchase.returned, 
#envoyconnect .envoyconnect-icon.purchase.lost, 
#envoyconnect .envoyconnect-icon.variable_purchase.lost { background-image: url('../g/ship-returned.png'); }
#envoyconnect .envoyconnect-icon.purchase.ready, 
#envoyconnect .envoyconnect-icon.variable_purchase.ready { background-image: url('../g/ship.png'); }
#envoyconnect .envoyconnect-icon.purchase.shipped, 
#envoyconnect .envoyconnect-icon.variable_purchase.shipped { background-image: url('../g/shipped.png'); }
#envoyconnect .envoyconnect-icon.purchase.delivered, 
#envoyconnect .envoyconnect-icon.variable_purchase.delivered { background-image: url('../g/shipped.png'); }
.ship-mismatch { color: #b94a48; }

/* ALL PURPOSE */
#envoyconnect .envoyconnect-icon.paupay-note { background-image: url('../g/note.png'); }
#envoyconnect .envoyconnect-icon.donation.delivered, 
#envoyconnect .envoyconnect-icon.purchase.delivered, 
#envoyconnect .envoyconnect-icon.variable_purchase.delivered { background-image: url('../g/ok.png'); }

/*	------------------------------------------------------- 
	CHECKBOXES
	------------------------------------------------------- */

span.float-checkbox {
	width: 150px;
	display: block;
	padding: 5px;
	float: left;
}
#envoyconnect textarea {
	/* width: 97%; */
	height: 200px;
	background-color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#envoyconnect .tn-wrapper textarea, #envoyconnect .t-wrapper textarea, #envoyconnect li textarea {
	/* width: 55%; */
}


/*	------------------------------------------------------- 
	MULTI-TEXT
	------------------------------------------------------- */

#envoyconnect .multilist a.button.sub, #envoyconnect .multilist a.button.add {
	padding: 3px 0 4px 18px;
	font-weight: bolder;
	background-color: transparent;
}


/*	------------------------------------------------------- 
	VIEWS
	------------------------------------------------------- */

#loader {
	text-align: center;
	padding: 42px;
	clear: both;
}
a.list-view, a.grid-view, a.calendar-view, a.map-view, a.gmap-view, a.search-view, a.upcoming-view {
	padding: 15px;
	margin: 0;
	border: 0;
	opacity: .25;
}
.list-view { background: url('../g/view_list.png') 5px 12px no-repeat; }
.grid-view { background: url('../g/view_grid.png') 5px 12px no-repeat; }
.calendar-view { background: url('../g/event.png') 5px 12px no-repeat; }
.map-view, .gmap-view { background: url('../g/view_map.png') 5px 12px no-repeat; }
.search-view { background: url('../g/search.png') 5px 12px no-repeat; }
.upcoming-view { background: url('../g/upcoming.png') 5px 12px no-repeat; }
.toggle-view a.list-view:hover, 
.toggle-view a.list-view.on, 
.toggle-view a.grid-view:hover, 
.toggle-view a.grid-view.on, 
.toggle-view a.calendar-view:hover, 
.toggle-view a.calendar-view.on, 
.toggle-view a.map-view:hover, 
.toggle-view a.map-view.on, 
.toggle-view a.upcoming-view:hover, 
.toggle-view a.upcoming-view.on, 
.toggle-view a.search-view:hover, 
.toggle-view a.search-view.on, 
.toggle-view a.gmap-view:hover, 
.toggle-view a.gmap-view.on {
	opacity: 100;
	display: inline;
	cursor: pointer;
}
.pagination {
	line-height:13px;
	display: inline;
}
.result-navigation {
	padding: 10px 0;
}
.report-result-tab {
	background-color: #DDDDDD;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	padding: 10px;
	margin: -1px 0 10px 0;
}
.report-result-tab .muted {
	color: #333;
	opacity: 100;
}
.report-tab a {
	cursor: pointer;
}
.content-display, #content-loader {
	display: none;
}

#envoyconnect ul.chzn-choices li {
	clear: none;
	display: inline;
	width: auto;
	color: #333 !important;
}
.envoyconnect-count {
	padding: 2px 5px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #888;
	color: #FFFFFF;
	line-height: 10px;
	font-size: 10px;
}

.pp-center {
	text-align: center;
	margin: 10px 0;
	padding: 10px;
	border: 1px dashed #CCC;
	width: 100%;
	float: left;
}
.pp-center div, 
.pp-center p {
	clear: both !important;
	text-align: center !important;
}
.pp-center img {
	border: none !important;
	float: none !important;
	padding: 1px;
	border: 1px solid #555 !important;
}
#fin-btn, 
.fin-btn {
/*
	width: 400px !important;
	height: 42px !important;
	resize: none !important;
*/
	background-color: #EEE !important;
	color: #000 !important;
	border: 1px dashed #CCC !important;
	overflow: hidden;
	margin-bottom: 5px !important;
	padding: 0 3px !important;
	height: 50px !important;
	overflow-y: scroll;
}
.fin-btn {
	/*width: 100% !important;*/
}

.envoyconnect-reports-user-avatar, 
.envoyconnect-reports-user-info {
	display: inline-block;
	float: left;
}

.pauhide {
	display: none !important;
}

@media screen and (min-width: 600px) {

	.envoyconnect-label, .envoyconnect-field {
		width: 100%;
	}
	#column_1_holder, #column_2_holder, .column_holder  {
		width: 100%;
	}
	.column-holder {
		width: 47%;
	}
	.column-holder.full {
		width: 100%;
	}
	
	.nav-tab-wrapper .envoyconnect-icon-text { display: inline-block; }
	.nav-tab-wrapper .envoyconnect-icon-ghost { display: none; }

}
@media screen and (min-width: 800px) {

	.envoyconnect-label {
		width: 30%;
	}
	.envoyconnect-field {
		width: 65%;
	}
	#column_1_holder, #column_2_holder, .column_holder, .column-holder  {
		width: 47%;
	}
	.column-holder.full {
		width: 100%;
	}
	
	.nav-tab-wrapper .envoyconnect-icon-text { display: inline-block; }
	.nav-tab-wrapper .envoyconnect-icon-ghost { display: none; }

}