/*	------------------------------------------------------- 
	SEARCH
	------------------------------------------------------- */
	
.date_field,  {
	display: none;
}
.query-child-holder {
	float: left;
}
.query-child-holder .bbconnect-field {
	padding: 0;
}
#bbconnect .tn-wrapper span.query-child-holder span.bbconnect-field input[type="text"], 
#bbconnect .tn-wrapper span.query-child-holder span.bbconnect-field textarea {
	font-size: 14px;
}

div.query-parent-held {
	float: left;
}
div.query-child-held, 
div.query-item-held {
	float: left;
}
#homes div.query-child-held ul li {
	float: left;
}

.query-buttons {
	width: 50px;
	float: right;
}
.query-buttons a.button {
	padding: 3px 8px;
}